* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'garamond''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(20, 130, 121);
    color: #ffffff;
    display: flex;
}

.header h1 {
    font-size: 50px;
}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri, 'Trebuchet MS'
}

.header nav ul {
    padding-top:20px;
    margin-left: 20px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    /* text-decoration size-adjust: 20px; */
}




.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/avatar2.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*About Section*/


.About {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; }

    .About{
        border: 2px solid #333;
        padding: 10px; 
        margin-top: 10px;}
    



h2 {
    font-size: 40px;
    font-family:'garamond''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pic img{
    width: 300px;
    height: 300px; 
}

p {
    margin-top: 20px; 
    order: 1; 
}

/*Work Section*/

.Work {display: flex;
flex-direction: column; 
align-items: center; 
text-align: center; }

.Work{
    border: 2px solid #333;
    padding: 10px; 
    margin-top: 10px;}


.Work .first-image {
    width: 200px; 
    max-width: 100%; 
    border: 1px solid #333; 
    box-shadow: 2px 2px 5px #888; 
    
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100px;
    max-width: 150%;
    margin-right: 10px;
}

/*Contact Info section*/

.Contact-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Contact-Info{
    border: 2px solid #333;
    padding: 10px; 
    margin-top: 10px;
}

.Contact-Info .contact-info-content p {
    font-size: 18px; 
    color: #333; 
    font-family: Arial, Helvetica, sans-serif;
}

.Contact-Info .contact-info-content ul {
    list-style-type: none; 
}

.Contact-Info .contact-info-content li {
    font-size: 16px; 
    color: #666; 
}












